* {
    box-sizing: border-box;
    font-family: cursive;
}
img {
    max-width: 100%;
    height: auto;
}
.slider {
    max-width: 1200px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
}
.slider2 {
    max-width: 1200px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    display: none;
}
.slider3 {
    max-width: 1200px;
    margin: 40px auto;
    position: relative;
    overflow: hidden;
    display: none;
}
.btn {
    position: absolute;
    top: 50%;
    translate: -0 50%;
    font-size: 21px;
    background-color: black;
    color: white;
    border: none;
    z-index: 10;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 5px;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.prev2 {
    left: 10px;
}
.next2 {
    right: 10px;
}
.prev3 {
    left: 10px;
}
.next3 {
    right: 10px;
}
.slides {
    display: flex;
    transition: 0.3s all linear;
}
.slides2 {
    display: flex;
    transition: 0.3s all linear;
}
.slides3 {
    display: flex;
    transition: 0.3s all linear;
}
.slide {
    width: 33.33%;
    flex-shrink: 0;
    padding: 18px;
}
.slide2 {
    width: 50%;
    flex-shrink: 0;
    padding: 18px;
}
.slide3 {
    width: 100%;
    flex-shrink: 0;
    padding: 18px;
}
.inner {
    box-shadow: 0 0 10px 5px black;
    padding: 10px;
    border-radius: 16px;
    text-align: center;
}
.pic {
    width: 150px;
    border-radius: 100%;
    border: 6px solid black;
}
.h3 {
    font-size: 26px;
    margin-bottom: 10px;
}
.txt {
    font-size: 18px;
    line-height: 1.6;
}
@media(max-width:990px) {
    .slider {
        margin: 0 auto;
    }
}
@media(max-width:880px) {
    .pic {
        width: 100px;
    }
    .txt {
        font-size: 14px;
    }
    .h3 {
        font-size: 20px;
    }
}
@media(max-width:880px) {
    .pic {
        width: 80px;
    }
    .txt {
        font-size: 12px;
    }
    .h3 {
        font-size: 14px;
    }
    .next {
        right: 0;
    }
    .prev {
        left: 0;
    }
}
@media(max-width:565px) {
    .pic {
        width: 80px;
        border: 3px solid black;
    }
    .txt {
        font-size: 10px;
    }
    .h3 {
        font-size: 12px;
    }
    .slider {
        display: none;
    }
    .slider2 {
        display: block;
    }
    .next2 {
        right: 0;
    }
    .prev2 {
        left: 0;
    }
}
@media(max-width:390px) {
    .pic {
        width: 80px;
        border: 3px solid black;
    }
    .txt {
        font-size: 10px;
    }
    .h3 {
        font-size: 12px;
    }
    .slider2 {
        display: none;
    }
    .slider3 {
        display: block;
    }
    .next3 {
        right: 0;
    }
    .prev3 {
        left: 0;
    }
}